
<h4>New Question</h4>

<%= form_for(Question.new, remote: true, class: 'form-group') do |f| %>
  <div class="row text-center">
    <div class="form-group">
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Your question", rows: 5 %>
    </div>
    <div class="form-group">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
    <div class="form-group">
      <%= f.submit "Post", class: "button"%>
    </div>
  </div>
<% end %>

