
<div class="container">
 <div class="col-xs-6">
  <%= form_for(Question.new, remote: true) do |f| %>
    <div class="large-10 large-centered columns">
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_area :content, placeholder: "Your question", rows: 5 %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.submit "Post", class: "button"%>
    </div>
  <% end %>
 </div> 
</div>