<div class="container">
  <div class="col-xs-6">
    <table class="table table-hover" id="question-">
      <thead>
       <tr>
         <th> Title </th>
         <th> User </th>
         <th> Last Updated </th>
         </tr>
      </thead>
         <tbody>
         <tr>
           <%= div_for question do %>
           <td><%= link_to h(question.title), question_path(question) %></td>
           <td><%= h(question.user_id) %></td>
           <td><sup class="text-muted">From <%= time_ago_in_words(question.created_at)%></sup></td>
           </tr>
         </tbody>
    </table>
      <div class="col-xs-6">
          <span><%=raw tag_links(question.all_tags)%></span> 
      </div>
    <% end %>
  </div>
 </div> 
