<div class="container">
  <div class="col-xs-6">
    <h1><%= @question.title %> </h1>
    <p><%= @question.content %></p>
     
      <%= link_to "edit", edit_question_path(@question) %>
  <%= link_to "delete", question_path(@question), method: :delete, data:{confirm: "are you sure?"} %>
  <%= link_to "home", root_path %> 
  <p><%= raw tag_links(@question.all_tags)%></p>
  </div>
  <div class="col-xs-6">

   <h4><%= @question.comments.count%></h4>
      <p><%= render @question.comments%></p>
      </div>
      <div class="col-xs-3">

   <h4>Reply to thread<%= render "comments/form" %></h4>
   </div> 



</div>