<%= div_for article do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <h2><strong><%= link_to h( raw article.header), article_path(article) %></strong></h2><br/>
    <strong><%= h(article.author) %></strong><br/>
    <sup class="text-muted">From <%= time_ago_in_words(article.created_at)%></sup><br />

    <p><%= truncate( article.content, :length => 230, escape: false) %></p>
  
    <div class="tags">
      <h6>Tags</h6>
      <p><%=raw tag_links(article.all_tags)%></p>
    </div>
  </div>
<% end %>