<!DOCTYPE html>
<html>
<head>
  <title>ThyroidHelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation' %>
   <div id="main-container" class="container">
     <div class="row">
       <div class="col-xs-3">
         <h3>Thyroid Help</h3>
       </div>
   

<div id="user_login">
    <% if current_user %>
      Logged in as <%= current_user.username%>
       <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
       <% else %>
       <%= link_to "Sign_up", new_user_registration_path %>
       or
       <%= link_to "Log in", new_user_session_path %>
       <%= link_to  "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%>
       <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
       <% end %>
</div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <div class="col-xs-9">
       <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
