<!DOCTYPE html>
<html>
<head>
  <title>ThyroidHelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_login">
    <% if current_user %>
      Logged in as <%= current_user.email%>
       <%= lint_to "Log out", destroy_user_session_path, :method => :delete %>
       <% else %>
       <%= link_to "Sign_up", new_user_registration_path %>
       or
       <%= link_to "Log in", new_user_session_path %>
       <% end %>
</div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
